html {
  box-sizing: border-box;
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

body {
	background-color: rgb(18, 18, 18);
  	margin-top: 4rem;
  	margin-left: 2%;
  	margin-right: 2%;
  	margin-bottom: auto;
}

@media (min-width: 1400px) {
		body {
			background-color: rgb(18, 18, 18);
  			margin-top: 4rem;
  			margin-left: auto;
  			margin-right: auto;
  			margin-bottom: auto;
  			max-width: 1400px;
  			}
  		}
	

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 56%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 52%;
  }
}

h1 {
  font-family: 'Cormorant', serif;
  font-size: 4rem; /* 18px */
  font-weight: 400;
  line-height: 1.1;
  color: white;
}

x {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.6rem;
  font-weight:300;
  line-height: 1.1;
  color: rgba(130 130 130);
}

.h1 {
  font-family: 'Cormorant', serif;
  font-size: 4rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 1.4;
  color: rgba(200 200 200);
}

t {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4rem;
  font-weight:300;
  line-height: 1.4;
  color: rgba(256 256 256);


}

.grey-color-text {
  color: rgb(137,137,137);
}

.container {
  display: grid;
  height: 200px;
  background: inherit;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto;
  border-bottom: solid 1px;
  border-color: rgb(51,51,51);
  padding-bottom: 0%;
  grid-template-areas:
    "name"
    "bio";      
}

@media (min-width: 600px) {
  .container {
    height: 225px;
    grid-template-columns: auto 50%;
    grid-template-rows: 100%;
    grid-areas: "name bio";
  }
}

.box-1 {
    background-color: inherit;
    color: rgb(113,113,113);
    grid-area: "name";
  }

@media (min-width: 600px) {
  .box-1 {
    text-align: left;
  }
}

.box-2 {
    background-color: inherit;
    text-align: left;
    grid-area: "bio";
    margin-left: 0rem;
  }

@media (min-width: 768px) {
  .box-2 {
    margin-left: 3rem;
  }
}

/*projects*/

.projects-container {
  display: grid;
  width: auto;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 3rem;
  margin-top: 3rem;

}

@media (min-width: 768px) {
  .projects-container {
    grid-row-gap: 3rem;
    grid-template-columns: repeat(2, minmax(200px,1fr));
    grid-template-rows: repeat(3, minmax(200px,1fr));
    border-radius: 5px;
    }
  }

  .item1{
    background:inherit;
    display: grid;
    grid-template-rows:
      1fr;
    
}
  .item2{
    background:inherit;
    display: grid;
    grid-template-rows: 
      1fr;
}
  .item3{
    background:inherit;
    display: grid;
    grid-template-rows:
      1fr
  }
  .item4{background:LightPink;}
  .item5{background:PaleGreen;}

.itemOne{background:inherit}
.itemTwo{background:inherit}


.project-image {
  display: flex;
  width: 100%;
}

.project-image:hover {
    transform: scale(1.01);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

.title-box {
  background: inherit;
}

.project-title {
  font-size: 3rem;
  padding-top: 2rem;
  color: white;
}

@media (min-width: 768px){
  .project-title {
   padding: 2rem 0rem 0.5rem 0rem;
  }
}

.project-subtitle {
  font-size: 2.2rem;
  color: rgb(113,113,113);
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.4;
  color: rgba(200 200 200);

}

@media (min-width: 768px){
  .project-subtitle {
    font-size: 2.2rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;


}
}
